.picture img {
	width: 90%;
	height: auto;
}

.content {
	margin-top: 60px;
}
.recip-container{background-color:#F5F5DC !important; margin-top: 60px;}

.rec-desc {
	text-align: justify;
}

.rec-desc h3 {
	text-align: center !important;
	margin-bottom: 20px;
	margin-top: 0px !important;
}

.ingred {
	text-align: center;
	padding-bottom: 30px;
}

.ingred li {
	list-style: none;
	font-size: 16px;
}

.like{
	width: 40px;
	height: 40px;
}

.videolink {
	text-align: center !important;
	margin-bottom: 20px;
	
}
.videolink a{color: rgb(241, 82, 135);font-size: 22px;text-decoration: none;}

.videolink:hover a {    color: rgb(230, 55, 100);
    font-weight: 500;
}

.back{text-align: center;}

.buy{text-align: center;
	margin-top: 30px;
    margin-bottom: 10px
}
    
.button {
    display: inline-block;
    height: 26px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center !important;
    width: 63.48px;
}

#shoppingCart-image {
	font-size: 1.2em;
}
    
.Mybuttons {
	vertical-align: middle;
}
    #shoppingCart-image:hover{
	font-size: 1.4em;
}
    