.recipeLabel {
	text-align: right;
	color: rgb(241, 82, 135);
}

.recipeName {
	text-align: left;
}

.products {
	text-align: right;
}

.productsLabel {
	color: rgb(241, 82, 135);
}

.price {
	text-align: right;
}

.priceLabel {
	color: rgb(241, 82, 135);
}

h3 {
	margin-top: 70px;
}

.pay {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}

.back {
	text-align: center;
}

.quantityButtons {
	padding: 2px;
}

.productNames {
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 0px;
	font-weight: normal;
}

.pricePerProducts {
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 0px;
	font-weight: normal;
}

button {
	display: inline-block;
	height: 26px;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	text-align: center !important;
	width: 63.48px;
}

#pay-image {
	font-size: 1.3em;
}
#pay-image:hover{
	font-size: 1.6em;
}

.fill-profile{color:red;
font-size: 18px;
}

.fill-profile :hover {
    color: red;}
