<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>A Nyúlon túl</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="screen"
	href="css/base.css">
<link rel="stylesheet" type="text/css" media="screen"
	href="css/user.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">
</head>

<body>

	<!--Menu-->
	<div th:insert="fragments/menu :: menu"></div>



	<!-- Profile -->
	<div class="col-sm-12">

		<div class="row section-description title">
			<div class="col-sm-12 ">
				<h2>Profile</h2>

				<div class="userAvatar">
					<img src="img/avatar.png" width="100"> </br>
				</div>

				<div class="col-sm-12 current">
					<div class="currentDataLabel">
						<h3>Current data</h3>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="currentDataLeft">
						<label>username: </label> </br> <label>name: </label> </br> <label>phone
							number: </label> </br> <label>address: </label> </br> <label>e-mail
							address: </label> </br>
					</div>
				</div>


				<div class="col-sm-6-right" th:object="${currentUserData}">
					<label th:text="*{userName}" /> </br> <label th:text="*{name}" /> </br> <label
						th:text="*{ phoneNumber}" /> </br> <label th:text="*{address}" /> </br> <label
						th:text="*{eMail}" /> </br>

				</div>



				<div class="col-sm-12 modify">
					<div class="modifyDataLabel">
						<h3>Modify data</h3>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="modifyDataLeft">
						<label>name: </label> </br> <label>phone number: </label> </br> <label>address:
						</label> </br> <label>e-mail address: </label> </br>
					</div>
				</div>

				<form action="#" th:action="@{/profile}"
					th:object="${profileFormData}" method="POST">
					<div class="col-sm-6-right">
						<div class="modifyDataRight">
							<input type="text" id="name" th:field="*{name}" /> </br> <input
								type="text" id="phoneNumber" th:field="*{phoneNumber}" /> </br> <input
								type="text" id="address" th:field="*{address}" /> </br> <input
								type="text" id="eMail" th:field="*{eMail}" /> </br>
						</div>
					</div>

					<div class="saveChanges">
						<input type="submit" value="Save changes">
					</div>
				</form>

			</div>
		</div>
	</div>

<!--Footer-->
	<div th:insert="fragments/footer :: footer"></div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script
		src=" http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
	<script
		src="  http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.js"></script>
	<script src="/js/loginRegValidation.js"></script>
	<script src="/js/ajaxloginreg.js"></script>
</body>

</html>