<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>A Nyúlon túl</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="screen"
	href="css/base.css">
<link rel="stylesheet" type="text/css" media="screen"
	href="css/shoppingCart.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">

<script>
	function goBack() {
		window.history.back();
	}
</script>

</head>

<body>

	<!--Menu-->
	<div th:insert="fragments/menu :: menu"></div>

	<!-- Shopping cart -->
	<div class="row section-description title">


		<div class="col-sm-12 ">
			<h2>Shopping cart</h2>

			<div class="col-sm-6">
				<h3 class="recipeLabel">Recipe name:</h3>
			</div>

			<div class="col-sm-5">
				<h3 class="recipeName" th:text="${recipe.name}"></h3>
			</div>

			<div class="col-sm-4">
				<div class="products">
					<h3 class="productsLabel">Quantity</h3>
					</br>
					<ul type="none">
						<li th:each="product: ${products}">
							<div class="quantityButtons">
								<input class="decrease" th:id="${'dec' + product.id}"
									type="button" value="-"> <label
									th:id="${'count' + product.id}" type="text">1</label> <input
									class="increment" th:id="${'inc' + product.id}" type="button"
									value="+">
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="products">
					<h3 class="productsLabel">Products</h3>
					</br>
					<ul type="none">
						<li th:each="product: ${products}"><label
							class="productNames" type="text" th:text="${product.name}"></label>
						</li>
					</ul>
					<div class="sumLabel">
						<label>SUM: </label>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="price">
					<h3 class="priceLabel">Price (HUF)</h3>
					</br>
					<ul type="none">
						<li th:each="product: ${products}"><label
							class="personal ishidden" th:id="${'pricePerUnit' + product.id}"
							type="text" th:text="${product.price}"></label> <label
							class="pricePerProducts"
							th:id="${'sumPricePerUnit' + product.id}" type="text"
							th:text="${#numbers.formatDecimal(product.price, 0, 0)}"></label>
						</li>
					</ul>
					<div class="sum">
						<label th:id="summary" type="text"
							th:text="${#numbers.formatDecimal(sum, 0, 0)}"></label>
					</div>
				</div>
			</div>

			<div class="col-sm-12 ">
				<div class="pay">
					<label th:if="${allUserDataAdded == false}" type="text"><a class="fill-profile"
						th:href="@{profile}">You have to add extra information in
							Profile before paying.</a></label> 
													
						<button id="pay-image" th:if="${allUserDataAdded == true}" class="buttons" type="submit"><i
							class="far fa-credit-card"></i></button>
				</div>
			</div>

			<div class="col-sm-12 ">
				<div class="back">
					<input class="buttons" type="submit" onclick="goBack()"
						value="<<Back">
				</div>
			</div>

		</div>
	</div>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script
		src=" http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
	<script
		src="  http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.js"></script>
	<script src="/js/loginRegValidation.js"></script>
	<script src="/js/ajaxloginreg.js"></script>
	<script src="/js/store.js"></script>

</body>

</html>